.ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    empty-cells: show;
    margin: 0px;
    padding: 1.5rem;
}

.ul>li {
    list-style: none;
    padding: 0px 9px 0px 9px;
    color: white;
}

.ul>li>a {
    text-decoration: none;
    font-size: large;
}